body {
      /* Use this to adjust filing the viewport */
    height: 100vh;
    margin: 0;
    font-family: roboto, sans-serif;
}

/* Banner styling */
a {
    text-decoration: none;
    color: white;
}

#logo-text{
    font-weight: bolder;
}

.top-page {
    display: flex;
    flex-direction: column;
    background-color: #d181a8;
    color: #ffffff;
    padding: 20px;
}

header {
    display: flex;
    justify-content:  space-between;
    margin: 0px 120px;
}

.header-links {
    display: flex;
    gap: 20px;
}

.header-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 120px;
}

.left-text {
    flex-wrap: wrap;
    width: 400px;
}

#first-button {
    background-color: #3882F6;
    width: 100px;
    height: 50px;
    border-radius: 10%;
    border: 1px solid darkblue;
    color: white;
    font-weight: bold;
}

/* middle content with photo line */
.main-content {
    display: flex;
    flex-direction: column;
}

#content-heading {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.images {
    padding: 5px;
    flex: 1;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

/* used for the text beneath the 4 images */
.images p {
    width: 150px;
}

/* handles the quote section */
.quote {
    padding: 40px 400px;
    color: white;
    background-color: #60376b;
    display: flex;
    flex-direction: column;
}

#main-quote {
    font-size: 30px;
    font-weight: bolder;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: -30px;
}

#speaker {
    font-size: 18pt;
    font-weight: bold;
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

/* Action container, handles the call to action button and statement */
.action-container {
    padding: 40px 300px;
}

.action-box {
    border-radius: 10%;
    background-color: #fcffde;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.action-text h2 {
    margin-bottom: -14px;
}

.cta-box {
    border: 1px solid black;
    background-color: #fcffde;
    border-radius: 10%;
    font-weight: bold;
    width: 150px;
    height: 50px;
}
